@(positionData: info.seltenheim.homepage.services.positions.formdata.PositionData)

<input type="hidden" name="id" value="@positionData.getId()">
	
<input name="titleDe" placeholder="German Title"  value="@positionData.getTitleDe()"> | 
<input name="titleEn" placeholder="English Title" value="@positionData.getTitleEn()"><br>

<span aria-hidden="true" data-icon="o"></span>
<input name="place" placeholder="where" value="@positionData.getPlace()">
<input name="website" placeholder="website" value="@positionData.getWebsite()"><br>

<span aria-hidden="true" data-icon="["></span>
<input name="fromDate" placeholder="yyyy-mm-dd" value="@positionData.getFromDate()"> - 
<input name="toDate" placeholder="yyyy-mm-dd" value="@positionData.getToDate()"><br>