@(currentProjects:List[info.seltenheim.homepage.services.database.Project] = scala.collection.immutable.List[info.seltenheim.homepage.services.database.Project](),
  specialProjects:List[info.seltenheim.homepage.services.database.Project] = scala.collection.immutable.List[info.seltenheim.homepage.services.database.Project](),
  currentPositions:List[info.seltenheim.homepage.services.database.Position] = scala.collection.immutable.List[info.seltenheim.homepage.services.database.Position]())

@import info.seltenheim.homepage.controllers._
@import info.seltenheim.homepage.services.database._

@defining(Application.getSessionLang()) { langKey =>

@info.seltenheim.homepage.views.html.layout("menu_home",Application.messages("home_welcome_text")) {


<p> 
	<strong>@Application.messages("home_welcome")</strong><br>
	@Application.messages("home_welcome_text") 
</p>

<div class="groupCard">
	<h2>@Application.messages("home_projects")</h2>
	@for(project <- (currentProjects ++ specialProjects)) {
		<div class="projectCard">
            <h3>
            	<a href="@routes.ProjectsController.index(langKey,"").toString()#@project.getId()">@project.getTitleAsHtml()</a>
            </h3>
            <div class="projectImage">
                <img src="@routes.ProjectsController.getImage(project.getId())"/>
            </div>
            

            <span class="sosa">Y</span>
            @if(project.getDevelopmentEnd() != null) {
		        @Application.messages("develope_finished") @project.getDevelopmentEnd().toString("MMM yyyy",Application.getCurrentLocale())
		    } else {
		        @Application.messages("develope_ongoing")
		    }   

			<div class="projectTechnologies">
			@for(tech <- project.getTechnologies()) {
				<div class="projectTechnology">
					<span class="sosa">å</span> @tech
				</div>		
				}
			</div>
		</div>
    }
</div>
<div class="groupCard">
	<h2>@Application.messages("home_positions")</h2>
	@for(position <- currentPositions) {
		<div id="@position.getId()" class="employmentCard">
			<h3>@position.getTitle() @if(position.isInstanceOf[Education]) {- @position.asInstanceOf[Education].getDegree()}</h3>
			<span class="sosa">o</span> 
			@if(position.getWebsite().isEmpty()) {
				@position.getPlace()
			} else {
				<a target="_blank" href="@position.getWebsite()">@position.getPlace()</a>
			}<br>
			<span class="sosa">[</span>
			@Application.messages("home_since") 
			@position.getFromDate().toString("MMM yyyy",Application.getCurrentLocale()) 
		</div>
	}
	
</div>
}
}