@(title: String, metaDescription: Html = Html.apply(""))(content: Html)

@import info.seltenheim.homepage.controllers._

@menuItem(link: String, text: String) = {
    <li @if(request.uri.contains(link)) {class="selected"}>
        <a href="@link">@text</a>
    </li>
}

@defining(Application.getSessionLang()) { langKey =>

<!DOCTYPE html>

<html>
	<head>
		<title>@Application.messages(title) - Julius Seltenheim</title>
		<meta name="Description" content="@metaDescription">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/favicon.png")">
		
		<script type="text/javascript" src='@routes.Assets.at("js/jquery.min.js")'></script>
		<script type="text/javascript" src='@routes.Assets.at("js/timeline.js")'></script>
		
	</head>
	<body>
		<div class="pageContainer">
			<div class="header"></div>
			<div class="navbarTop">
				<ul class="navigation-inline">
					@menuItem(routes.Application.index(langKey).toString,Application.messages("menu_home").toString)
					@menuItem(routes.ProfileController.index(langKey,"").toString,Application.messages("menu_profile").toString)
					@menuItem(routes.SkillsController.index(langKey).toString,Application.messages("menu_skills").toString)
					@menuItem(routes.ProjectsController.index(langKey,"").toString,Application.messages("menu_projects").toString)
					@menuItem(routes.Application.contact(langKey).toString,Application.messages("menu_contact").toString)
				</ul>
				
				<div class="navbarTop-flags">
					@if(Application.getSessionLang().equals("de")) {
						<a href="#"> <img src="@routes.Assets.at("images/de_g.png")" /></a>
						<a href="@Application.getCurrentRouteWithOtherLang("en")"> <img src="@routes.Assets.at("images/en.png")" />
					} else {
						<a href="@Application.getCurrentRouteWithOtherLang("de")"> <img src="@routes.Assets.at("images/de.png")" /></a>
						<a href="#"> <img src="@routes.Assets.at("images/en_g.png")" />
					}
					</a>
				</div>
			</div>
		<h1>
			 @Application.messages(title) 
		</h1>
		<div class="content">
			@content
		</div>
		<div class="footer">
			&copy; Julius Seltenheim 2013 | 
			<a href='@routes.Application.contact(Application.getSessionLang())'>  
				@Application.messages("menu_contact") 
			</a>
		</div>
		</div>
	</body>
</html>

}
