@(projects: List[info.seltenheim.homepage.services.projects.Project]) 

@import info.seltenheim.homepage.controllers._ 

@defining(Controller.lang()) { lang => 

@layout("menu_projects") {
	@for(project <- projects) {
		<div class="projectCard">
	    	<a id="@project.getId()"></a>
            <h2>
            	@project.getTitleAsHtml()
            	@if(info.seltenheim.homepage.controllers.UsersController.isLoggedIn()) {
	             
                <a href="@routes.ProjectsController.renderEdit(lang.language,project.getId())">Edit</a>
                &nbsp; 
                <a href="/en/Project/id/delete">
                    Delete
                </a>
            }
            </h2>
            <div class="projectImage">
                <img src="@routes.ProjectsController.getImage(project.getId())"/>
            </div>
            

            <span aria-hidden="true" data-icon="Y"></span>
            @if(project.getDevelopmentEnd() != null) {
		        @Messages("develope_finished") @project.getDevelopmentEnd().toString("MMM yyyy",lang.toLocale)
		    } else {
		        @Messages("develope_ongoing")
		    }   
                
            <div class="projectDescription">
         		@project.getDescriptionAsHtml() 
            </div>

			<div class="projectTechnologies">
			@for(tech <- project.getTechnologies()) {
				<div class="projectTechnology">
				<span aria-hidden="true" data-icon="å"></span> @tech
				</div>		
				}
			</div>
		</div>
	}
	
	} 
}
