@(description: Html, skillGroups: List[info.seltenheim.homepage.services.skills.SkillGroup]) 

@import info.seltenheim.homepage.controllers._ 

@defining(Controller.lang().language()) { langKey => 
	@layout("menu_skills") {
		@description
		
		@for(skillGroup <- skillGroups) {
		<div class="skillGroupCard">
			<h2>@skillGroup.getName()</h2>
			@for(skill <- skillGroup.getSkills()) {
				<div class="skillRow">
					<div class="skillName">
					@if(skill.getKnowledge() < 0.75) {
						<span aria-hidden="true" data-icon="ñ"></span>@skill.getName()
					} else {
						<span aria-hidden="true" data-icon="ñ"></span><strong>@skill.getName()</strong>
					}
					</div>
					<div class="skillLevel">
						<div id="empty-@langKey-@skillGroup.getId()-@skill.getName()" class="emptyStars"></div>
						<div id="full-@langKey-@skillGroup.getId()-@skill.getName()" class="fullStars" style="width:@(skill.getKnowledge()* 90)px;"></div><br>
					</div>
				</div>
			}
			@if(UsersController.isLoggedIn()) {
				<div class="skillRow">
					<form action="@routes.SkillsController.addSkill(Controller.lang().language(),skillGroup.getId())" method="POST">
						<input name="name" placeholder="Name">
						<button type="submit">Hinzufügen</button>
					</form>
				</div>
			}
		</div>
		}
		
		@if(UsersController.isLoggedIn()) {
		<div class="skillGroupCard">
			<h2>Neue Skill Gruppe</h2>
			<form action="@routes.SkillsController.addSkillGroup(Controller.lang().language())" method="POST">
				<input name="nameDe" placeholder="Deutscher Titel"><br>
				<input name="nameEn" placeholder="Englischer Titel"><br>
				<button type="submit">Hinzufügen</button>
			</form>
		</div>
		}
		
		@if(UsersController.isLoggedIn()) {
		<script type="text/javascript">
		$('.emptyStars').click(function(e) {
			var posX = $(this).offset().left;
			updateKnowledge($(this).attr("id"), (e.pageX - posX)/90.0);
		});
		
		$('.fullStars').click(function(e) {
			var posX = $(this).offset().left;
			updateKnowledge($(this).attr("id"), (e.pageX - posX)/90.0);
		});
		
		var updateKnowledge = function(id, value) {
			var langKey, skillGroupId, skillName;
			var parts = id.split("-");
			langKey = parts[1];
			skillGroupId = parts[2];
			skillName = parts[3];
			
			$.ajax({
				  type: "POST",
				  url: "/"+langKey+"/skillgroup/"+skillGroupId+"/"+encodeURIComponent(skillName)+"/setLevel",
				  data: "level="+value,
				  success: function() {location.reload();},
				});
		} 
		</script>
		}
	
	} 
}
