/*
light green: #d5eab0
middle green: #9acb42
darker green: #77b900
*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 0px;
	min-width: 980px;
}

h1 {
	font-size: 3.5em;
	color: #9acb42;
	padding-top: 15px;
	margin: 0px 0px;
}

h2 {
	font-size: 1.7em;
	color: #666;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px 0px;
}

h3 {
	font-size: 1.4em;
	margin-bottom: 1px;
	color: #9acb42;
	
}

a {
	border: 0px;
	color: #77b900;
}

a img {
	border: 0px;
}

@font-face {
	font-family: 'Sosa';
	src: url('/assets/fonts/sosa/sosa.eot');
	src: local('Sosa'), local('Sosa'), url('/assets/fonts/sosa/sosa.woff')
		format('woff'), url('/assets/fonts/sosa/sosa.ttf') format('truetype'),
		url('/assets/fonts/sosa/sosa.svg#Sosa') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sosa {
	font-family: "Sosa";
	font-size: 1.5em;
	text-decoration: none;
	font-weight: normal;
	speak: none;
	color: #666;
}

/* site skeleton */
div.pageContainer {
	width: 980px;
	margin: 0 auto;
	   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	border-right-color: #9acb42;
	border-right-width: 5px;
	border-right-style: solid;
}

div.header {
	width: 100%;
	height: 120px;
	position: relative;
	padding-top: 5px;
	background: url("/assets/images/julius_seltenheim_logo.png") no-repeat;
	background: url("/assets/images/julius_seltenheim_logo.png") no-repeat, -moz-linear-gradient(left,  #ffffff 0%, #ffffff 33%, #9acb42 97%, #9acb42 100%);
	background: url("/assets/images/julius_seltenheim_logo.png") no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(33%,#ffffff), color-stop(97%,#9acb42), color-stop(100%,#9acb42));
	background: url("/assets/images/julius_seltenheim_logo.png") no-repeat, -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	background: url("/assets/images/julius_seltenheim_logo.png") no-repeat, -o-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	background: url("/assets/images/julius_seltenheim_logo.png") no-repeat, -ms-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	background: url("/assets/images/julius_seltenheim_logo.png") no-repeat, linear-gradient(to right,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	background-position: 0px 5px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9acb42',GradientType=1 );

}

div.navbarTop {
	width: 100%;
	height: 33px;
	margin-top: 5px;
	   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	border-bottom-width: 1px;
	border-bottom-color: #9acb42;
	border-bottom-style: dotted; 
}

div.navbarTop-flags {
	float: right;
	padding-right: 9px;
	padding-top: 7px;
}

div.navigation-inline {
	display: inline;
}

ul.navigation-inline {
    overflow: hidden;
    float: left;
    margin: 5px 0px;
    font-size: 18px;
    padding-left: 10px;
    display: table;
    table-layout: fixed;
}

ul.navigation-inline li {
    float: left;
    list-style: none;
    margin: 0px 20px;
    display: table-cell;
}

ul.navigation-inline li a {
    float: left;
    text-decoration: none;
    color: #9acb42;
}

ul.navigation-inline li.selected a {
    text-decoration: underline;
}

div.content {
	width: 100%;
	padding: 10px 0 0 0;
	min-height: 500px;
	overflow: hidden;
}

div.footer {
	width: 100%;
	padding-top: 10px;
	margin-top: 20px;
	height: 25px;
	text-align: center;
	background: #FFFFFF;
	background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 33%, #9acb42 97%, #9acb42 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(33%,#ffffff), color-stop(97%,#9acb42), color-stop(100%,#9acb42));
	background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	background: linear-gradient(to right,  #ffffff 0%,#ffffff 33%,#9acb42 97%,#9acb42 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9acb42',GradientType=1 );
}


/* Table Base */
table.js {
	border-collapse: collapse;
}

table.js th {
	text-align: left;
}

table.js td,th {
	padding: 5px;
	margin: 5px;
	vertical-align: top;
}

table.js td {
	height: 40px;
}

table.js td,table.js th {
	border-width: 0px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #d5eab0;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #d5eab0;
}


/* index page */

div.projectListContainer {
	width: 48%;
	float: left;
	margin-right: 2%;
}

table.projectList {
	width: 100%;
}

div.groupCard {
	width: 47%;
	margin-right: 3%;
	float: left;
	min-height: 300px;
}

div.groupCard .projectTechnologies {
	width: 50%;
}

div.groupCard .projectTechnology {
	width: 47%;
	margin-right: 3%;
	font-size: 0.7em;
}

/*
 * Project page
 */
 
div.projectCard {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #9acb42;
	overflow: hidden;
}

div.projectImage {
	float: right;
	padding-right: 20px;
	width: 40%;
	
}

div.projectImage img {
	width: 100%;
	
}

div.projectDescription {
	width: 55%;
}

div.projectTechnologies {
	width: 100%;
	float: left;
	margin-top: 15px;
}

div.projectTechnology {
	width: 22%;
	margin-right: 2%;
	float: left;
}

/* 
 * PROFILE 
 */
div.profileTimelineContainer {
	float: left;
	position: relative;
	width: 70px;
	height: 100%;
}

div.profileListingContainer {
	width: auto;
	position: relative;
	margin-left: 70px;
	margin-right: 10px;
}

div.employmentCard {
	border-bottom-style: dotted;
	border-bottom-color: #d5eab0;
	border-bottom-width: 1px;
	overflow: auto;
	margin-bottom: 20px;
}

div.employmentCard a {
	color: black;
}

div.employmentDuty {
	width: 25%;
	margin-right: 2%;
	position: relative;
	float: left;
}

/*
 * Skills
 */
 
div.skillGroupCard {
	width: 30%;
	margin-right: 3%;
	float: left;
	min-height: 300px;
}

div.skillRow {
	width: 100%;
	height: 20px;	
	margin-bottom: 5px;
}

div.skillName {
	width: 60%;
	float: left;	
}

div.skillLevel {
	float: left;
}

div.emptyStars {
	background: url("/assets/images/star_empty.png") repeat-x;
	background-size: 15px;
	width: 90px;
	position: absolute;
	height: 15px;
	margin-left: 10px;
}

div.fullStars {
	background: url("/assets/images/star_full.png") repeat-x;
	background-size: 15px;
	position: absolute;
	height: 15px;
	margin-left: 10px;
}