@(employmentData: info.seltenheim.homepage.services.positions.formdata.EmploymentData)

@import info.seltenheim.homepage.controllers._

<form action="@routes.ProfileController.upsertEmployment(Controller.lang().language())" method="POST">
	@positionFormPart(employmentData)
	<br>
	
	<h4>Tasks:</h4>
	<textarea rows="5" cols="20" name="tasksDe" placeholder="One Task per row (German)">@employmentData.getTasksDe()</textarea>
	<textarea rows="5" cols="20" name="tasksEn" placeholder="One Task per row (English)">@employmentData.getTasksEn()</textarea>
	
	<h4>Techs:</h4>
	<textarea rows="5" cols="20" name="technologies" placeholder="One Tech per row">@employmentData.getTechnologies()</textarea><br>
	<button type="submit" name="update">Save</button>
</form>
   
