@media (prefers-color-scheme: light) {
    .icon-gray {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .link {
        color: #333;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #ccc;
    }

    p.subtitle {
        color: #eee !important;
    }

    .icon-gray {
        -webkit-filter: grayscale(100%) invert(); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) invert();
    }

    .link {
        color: #ccc;
    }
}

@media (min-width: 1200px) {
    .portrait {
        height: 300px;
    }

    p.subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 1200px) {
    .portrait {
        height: calc(300 * 0.1vw);
    }

    p.subtitle {
        font-size: calc(0.75rem + 1.5vw);
    }
}

@media (max-width: 768px) {
    .portrait {
        display: flex;
        justify-content: center;
        height: calc(300 * 0.17vw);
        margin-top: 20px;
    }
}


main {
    margin-top: 40px;
    margin-bottom: 100px;
}

main h1 {
    margin-bottom: 0;
    line-height: 90%;
}

footer {
    padding: 20px 0;
    margin-top: 20px;
    border-top: solid 2px #bbb;
}

.links a {
    text-decoration: none;
    height: 20px;
}

.links a img {
    height: 20px;
}