@()

@import info.seltenheim.homepage.controllers._

@defining(Application.getSessionLang()) { langKey =>

@info.seltenheim.homepage.views.html.layout("Tracking",Html.apply("Tracking")) {


<h2>Options</h2>


<div>

<span aria-hidden="true" data-icon="ñ"></span> <a href="@routes.TrackingsController.listSessions(langKey,"",0).toString()">list sessions</a><br>
<span aria-hidden="true" data-icon="ñ"></span> <a href="@routes.TrackingsController.uaByQuantityAndAppearance(langKey).toString()">user-agents by quantity and last appearance</a>
</div>
}
}