@(title: String, subtitle: String = "", metaDescription: String = "")(content: Html)

    @import info.seltenheim.homepage.controllers._

    @menuItem(link: String, text: String) = {
        <li @if(request.uri.contains(link)) {
            class="selected"}>
            <a href="@link">@text</a>
        </li>
    }

    @defining(Controller.lang().language()) { langKey =>

    <!DOCTYPE html>

        <html>
            <head>
                <title>@Messages(title) - Julius Seltenheim</title>
                @if(metaDescription != null && !metaDescription.isEmpty) {
                    <meta name="Description" content="@metaDescription">
                }
                <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
                <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
                <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/favicon.png")" />
                <script type="text/javascript" data-main="@routes.Assets.at("js/main.js")" src="@routes.Assets.at("lib/requirejs/require.min.js")"></script>
                <script type="text/javascript" src='@routes.Assets.at("js/timeline.js")'></script>

            </head>
            <body>
                <div class="header">
                    <img src="@routes.Assets.at("images/julius-seltenheim_light.png")">
                    <ul class="navigation-inline">
                        @menuItem(routes.Application.index(langKey).toString, Messages("menu_home"))
                        @menuItem(routes.ProfileController.index(langKey, "").toString, Messages("menu_profile"))
                        @menuItem(routes.SkillsController.index(langKey).toString, Messages("menu_skills"))
                        @menuItem(routes.ProjectsController.index(langKey, "").toString, Messages("menu_projects"))
                        @menuItem(routes.Application.contact(langKey).toString, Messages("menu_contact"))
                    </ul>

                    <div class="navbarTop-flags">
                    @if(langKey.equals("de")) {
                        <a href="#"> <img src="@routes.Assets.at("images/de_g.png")" /></a>
                        <a href="@Application.getCurrentRouteWithOtherLang("en")"> <img src="@routes.Assets.at("images/en.png")" /></a>
                            } else {
                        <a href="@Application.getCurrentRouteWithOtherLang("de")"> <img src="@routes.Assets.at("images/de.png")" /></a>
                        <a href="#"> <img src="@routes.Assets.at("images/en_g.png")" /></a>
                    }

                    </div>

                </div>
                <div class="pageContainer">
                    <div class="content">
                        @content
                    </div>
                </div>
                <div class="footer">
                        &copy; Julius Seltenheim @org.joda.time.DateTime.now().year().getAsText() |
                    <a href='@routes.Application.contact(Controller.lang().language())'>
                    @Messages("menu_contact")
                    </a>
                </div>
            </body>
        </html>

    }
