@(description: Html, skillGroups: List[info.seltenheim.homepage.services.skills.SkillGroup])

@import info.seltenheim.homepage.controllers._

@defining(Controller.lang().language()) { langKey =>
    @layout("menu_skills") {
        @description

        <div ng-controller="skillPageController as ctrl" ng-init="init(@UsersController.isLoggedIn(),'@langKey')" ng-cloak>
            <div ng-repeat="group in skillGroups" ng-cloak>
                <div class="skillGroupCard">
                    <h2 ng-hide="isEditModeEnabled(group.id)"
                        ng-click="setEditable(group.id)">
                        {{group.nameMap[currentLangKey]}}
                    </h2>
                    <input  type="text" ng-show="isEditModeEnabled(group.id)" focus-on-show
                    ng-keyup="$event.keyCode == 13 && editGroupName(group,'@langKey',$event)"
                    value="{{group.nameMap['@langKey']}}">
                    <div ng-repeat="skill in group.skills">
                        <div class="skillRow">
                            <div class="skillName">
                                    <span aria-hidden="true" data-icon="ñ"></span>
                                    <span ng-hide="isEditModeEnabled(skill.name)"
                                            style="font-weight: {{getSkillFontWeight(skill.knowledge) } }" ng-click="setEditable(skill.name)">
                                        {{skill.name}}
                                    </span>
                                    <input  type="text" ng-show="isEditModeEnabled(skill.name)" focus-on-show
                                            ng-keyup="$event.keyCode == 13 && editSkillName(group,skill,$event)"
                                            value="{{skill.name}}">

                            </div>
                            <div class="skillLevel">
                                <div class="emptyStars" ng-click="submitChange(group,skill,'empty',$event)"></div>
                                <div class="fullStars" ng-click="submitChange(group,skill,'full',$event)"
                                    style="width: {{skill.knowledge*90}}px;"></div> <br>
                            </div>
                        </div>
                    </div>
                    @* @if(UsersController.isLoggedIn()) {
                    <div class="skillRow">
                    <form action="@routes.SkillsController.addSkill(Controller.lang().language(), skillGroup.getId())" method="POST">
                    <input name="name" placeholder="Name">
                    <button type="submit">Hinzufügen</button>
                    </form>
                    </div>
                    }*@
                </div>
            </div>
        </div>
        @*

        @if(UsersController.isLoggedIn()) {
        <div class="skillGroupCard">
        <h2>Neue Skill Gruppe</h2>
        <form action="@routes.SkillsController.addSkillGroup(Controller.lang().language())" method="POST">
        <input name="nameDe" placeholder="Deutscher Titel"><br>
        <input name="nameEn" placeholder="Englischer Titel"><br>
        <button type="submit">Hinzufügen</button>
        </form>
        </div>
        }

        *@
    }
}
