@()

@import controllers.Application

@layout("menu_contact") {

<div style="width: 80%;">
    <h2>Julius Seltenheim</h2>
    <table class="contact">
        <tr>
            <td class="detail"> <span class="sosa" style="font-size: 30pt;">Ç</span></td>
            <td>
                Junker-J&ouml;rg-Stra&szlig;e 22a<br>
                10318 Berlin<br>
                 @Application.messages("contact_country")
            </td>
        </tr>
        <tr>
            <td class="detail"><span class="sosa" style="font-size: 30pt;">5</span></td>
            <td>(+49) 174 3307759</td>
        </tr>
        <tr>
            <td class="detail"><span class="sosa" style="font-size: 30pt;">É</span></td>
            <td>mail (at) julius-seltenheim.com</td>
        </tr>
        <tr>
            <td class="detail"><img src="@routes.Assets.at("images/skype.png")" style="width:30px;"></td>
            <td>juliusse13</td>
        </tr>
        <tr>
            <td class="detail"><img src="@routes.Assets.at("images/linkedin.png")" style="width:30px;"></td>
            <td><a id="black" href="http://www.linkedin.com/profile/view?id=100988836&locale=en_US&trk=tab_pro" target="_blank">LinkedIn</a></td>
        </tr>
     	<tr>
            <td class="detail"><img src="@routes.Assets.at("images/xing.png")" style="width:30px;"></td>
            <td><a id="black" href="https://www.xing.com/profile/Julius_Seltenheim" target="_blank">XING</a></td>
        </tr>
        <tr>
            <td class="detail"><img src="@routes.Assets.at("images/github.png")" style="width:30px;"></td>
            <td><a id="black" href="https://github.com/juliusse" target="_blank">juliusse</a></td>
        </tr>        
    </table>
    <img src="@routes.Assets.at("images/julius-seltenheim.jpg")" style="width: 335px; margin-left:65px; float:left;">
    
</div>
}