@(currentProjects:List[services.database.Project] = scala.collection.immutable.List[services.database.Project](),
  specialProjects:List[services.database.Project] = scala.collection.immutable.List[services.database.Project](),
  currentPositions:List[models.Position] = scala.collection.immutable.List[models.Position]())

@import controllers.Application

@defining(Application.getSessionLang()) { langKey =>

@layout("menu_home") {


<p> 
	<strong>@Application.messages("home_welcome")</strong><br>
	@Application.messages("home_welcome_text") 
</p>

<div class="groupCard">
	<h2>@Application.messages("home_projects")</h2>
	@for(project <- (currentProjects ++ specialProjects)) {
    
		<div class="projectCard">
	    	<a id="@project.getId()"></a>
            <h3>
            	@project.getTitleAsHtml()
            </h3>
            <div class="projectImage">
                <img src="@routes.ProjectsController.getImage(project.getId())"/>
            </div>
            

            <span class="sosa">Y</span>
            @if(project.getDevelopmentEnd() != null) {
		        @Application.messages("develope_finished") @project.getDevelopmentEnd().toString("MMM yyyy",Application.getCurrentLocale())
		    } else {
		        @Application.messages("develope_ongoing")
		    }   

			<div class="projectTechnologies">
			@for(tech <- project.getTechnologies()) {
				<div class="projectTechnology">
					<span class="sosa">å</span> @tech
				</div>		
				}
			</div>
		</div>
    }
</div>
<div class="groupCard">
	<h2>@Application.messages("home_positions")</h2>
	@for(position <- currentPositions) {
		<div id="@position.getId()" class="employmentCard">
			<h3>@position.getTitle() @if(position.isInstanceOf[models.Education]) {- @position.asInstanceOf[models.Education].getDegree()}</h3>
			<span class="sosa">o</span> 
			@if(position.getWebsite().isEmpty()) {
				@position.getPlace()
			} else {
				<a target="_blank" href="@position.getWebsite()">@position.getWebsite()</a>
			}<br>
			<span class="sosa">[</span>
			@Application.messages("home_since") 
			@position.getFromDate().toString("MMM yyyy",Application.getCurrentLocale()) 
		</div>
	}
	
</div>
}
}