@(title: String)(content: Html)

@import controllers.Application


@defining(Application.getSessionLang()) { langKey =>
<!DOCTYPE html>

<html>
<head>
<title>@title - Julius Seltenheim</title>
<!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">  -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

	<div class="wrapper">
		<div class="header">
			<div class="banner">
				<img src="@routes.Assets.at("images/banner1.png")" />
			</div>
			<div class="flags">
				@if(Application.getSessionLang().equals("de")) {
					<a href='@Application.getCurrentRouteWithOtherLang("de")'> <img src="@routes.Assets.at("images/de_g.png")" /></a>&nbsp;
					<a href='@Application.getCurrentRouteWithOtherLang("en")'> <img src="@routes.Assets.at("images/en.png")" />
				} else {
					<a href='@Application.getCurrentRouteWithOtherLang("de")'> <img src="@routes.Assets.at("images/de.png")" /></a>&nbsp;
					<a href='@Application.getCurrentRouteWithOtherLang("en")'> <img src="@routes.Assets.at("images/en_g.png")" />
				}
				</a>
			</div>
		</div>

		<div class="menu">
			<h3>
				 @Application.messages("menu_menu") 
			</h3>
			<ul class="navigation">
			    <li>
			        <a href="@routes.Application.index(langKey)">Startseite</a>
			    </li>
			    <li>
			        <a href="/de/Profile">Lebenslauf</a>
			    </li>
			    <li>
			        <a href="/de/Profile/skills">Qualifikationen</a>
			    </li>
			    <li>
			        <a href="/de/Projects/Index">Projekte</a>
			        <ul>
			            <li>
			                <a href="/de/Projects/index/type/Application">Anwendungen</a>
			            </li>
			            <li>
			                <a href="/de/Projects/index/type/Game">Spiele</a>
			            </li>
			            <li>
			                <a href="/de/Projects/index/type/Website">Webseiten</a>
			            </li>
			        </ul>
			    </li>
			    <li>
			        <a href="@routes.Application.contact(langKey)">Kontakt</a>
			    </li>
			</ul>

		</div>
		<div class="content">
			<div id="contentTitle">
				<h1>
					 @Application.messages(title) 
				</h1>
				<p>
					  
				</p>
			</div>

			@content
		</div>
	</div>
	<div class="footer">
		&copy; Julius Seltenheim 2012 | 
		<a href='@routes.Application.contact(Application.getSessionLang())'>  
			@Application.messages("menu_contact") 
		</a>
	</div>
	</div>

</body>
</html>

}
