@(employments: List[models.Employment], educations: List[models.Education])

@import controllers.Application

@defining(Application.getSessionLang()) { langKey =>



@layout("menu_profile") {

<div id="profileContainer">

	<div class="profileTimelineContainer">
		
		<div id="timeline" style="float:left;width: 50px;position: absolute; height: 100%;top:20px;">
		te e e e e s t
		</div>
	</div>

	<div class="profileListingContainer">
	
	
	<div>
	<h2> @Application.messages("menu_employment")</h2>
		</div>		 

	<table class="js profile">
        <tr class="c0">
            <th class="period"> @Application.messages("profile_period") </th>
            <th> </th>
        </tr>
        
        @for(employment <- employments) {
        <tr class="c0">
                <td class="period"> 
                	@employment.getFrom().toString("MMM yyyy",Application.getCurrentLocale()) - 
                	@if(employment.getTo() != null) {@employment.getTo().toString("MMM yyyy",Application.getCurrentLocale())} else {@Application.messages("ongoing")} 
               	</td>
                <td>
                    <p><span class="place">@employment.getPlace() - @employment.getTitle()</span><br>
                        <span class="link"><a target="_blank" style="color: #000;" href="@employment.getWebsite()"> @employment.getWebsite() </a></span>
                    </p>
                    <p>
                         @Application.messages("profile_duties") 
                    <ul>
                        @for(task <- employment.getTasks()) {
                        <li>@task</li>
                        }
                    </ul>
                    </p>
                </td>
            </tr>
        }       
    </table>
    <p style="height: 20px;"> </p>
    <h2> @Application.messages("menu_education")</h2>
    <table class="js profile education">
        <tr class="c0">
            <th class="period"> @Application.messages("profile_period")</th>
            <th class="place"> @Application.messages("profile_location")</th>
            <th class="degree"> @Application.messages("profile_degree")</th>
        </tr>


        @for(education <- educations) {
        <tr class="c $line++ ">
                <td class="period"> 
                	@education.getFromDate().getYear - @education.getToDate().getYear
                </td>
                <td>
                    <span class="place"> @education.getPlace() </span><br>
                    <span class="link"><a target="_blank" style="color: #000;" href=" @education.getWebsite() "> @education.getWebsite() </a></span>
                </td>
                <td>
                    <span class="degree"> @education.getDegree() </span><br>
                    <span> @Application.messages("profile_score"): @education.getScore() </span><br>
                    <span> @education.getDegreeNote() </span>
                </td>
            </tr>
        }
        
    </table>
</div>
</div> 
<div style="height: 30px;">
	&nbsp;
</div>   
	   
<script type="text/javascript">
	var entryDatas = [
	["undefined",new Date(2009,1,1),new Date(2009,1,1)]
	@for(education <- educations) {
		,["@education.getPlace() - @education.getDegree()",new Date(@education.getFromDate().getMillis()),new Date(@education.getToDate().getMillis())]
	}
	@for(employment <- employments) {
		@if(employment.getTo != null) {
		,["@employment.getPlace() - @employment.getTitle()",new Date(@employment.getFrom().getMillis()),new Date(@employment.getTo().getMillis())]
		} else {
			,["@employment.getPlace() - @employment.getTitle()",new Date(@employment.getFrom().getMillis()),new Date()]	
		}
	}
	];
	
	var profileContainer = document.getElementById("profileContainer");
	profileContainer.style.height = profileContainer.clientHeight +"px";
	
	var timeline = new Timeline(document.getElementById("timeline"),2008)
	for(index in entryDatas) {
		if(index == 0) {
			continue;
		}
		var entryData = entryDatas[index];
		timeline.addTimelineEntry(new TimelineEntry(entryData[0],entryData[1],entryData[2]));
	}
</script> 

}
}