@(employments: List[models.Employment], educations: List[models.Education])

@import controllers.Application

@defining(Application.getSessionLang()) { langKey =>


@layout("menu_profile") {

<div id="profileContainer">
	<div class="profileTimelineContainer">
		<div id="timeline" style="float:left;width: 50px;position: absolute; height: 98%;top:20px;"></div>
	</div>

	<div class="profileListingContainer">
		<h2>@Application.messages("menu_employment")</h2>
		@for(employment <- employments) {
			<div id="@employment.getId()" class="employmentCard">
				<h3>@employment.getTitle()</h3>
				<span class="sosa">o</span> 
				@if(employment.getWebsite().isEmpty()) {
					@employment.getPlace()
				} else {
					<a target="_blank" href="@employment.getWebsite()">@employment.getPlace()</a>
				}<br>
				<span class="sosa">[</span>
				@employment.getFrom().toString("MMM yyyy",Application.getCurrentLocale()) - 
	            @if(employment.getTo() != null) {
	            	@employment.getTo().toString("MMM yyyy",Application.getCurrentLocale())
	            } else {
	            	@Application.messages("ongoing")
	            }<br><br>
	            @for(task <- employment.getTasks()) {
	            <div class="employmentDuty">
	            	<span class="sosa">ñ</span> @task
	            </div>	            
	            }
			</div>
		}

	    <h2> @Application.messages("menu_education")</h2>
	   	@for(education <- educations) {
			<div id="@education.getId()" class="employmentCard">
				<h3>@education.getDegree()</h3>
				<span class="sosa">o</span> 
				@if(education.getWebsite().isEmpty()) {
					@education.getPlace()
				} else {
					<a target="_blank" href="@education.getWebsite()">@education.getWebsite()</a>
				}<br>
				<span class="sosa">[</span> @education.getFromDate().getYear - @education.getToDate().getYear<br>
				<span class="sosa">G</span> @education.getScore()
			</div>
		}
	</div>
</div> 

<script type="text/javascript">
	var eduEntryData = [
	["undefined",new Date(2009,1,1),new Date(2009,1,1)]
	@for(education <- educations) {
		,["@education.getPlace() - @education.getDegree()",new Date(@education.getFromDate().getMillis()),new Date(@education.getToDate().getMillis()),"@education.getId()"]
	}
	];
	
	var emplEntryData = [
	                	["undefined",new Date(2009,1,1),new Date(2009,1,1),"idForHighlighting"]

	                	@for(employment <- employments) {
	                		@if(employment.getTo != null) {
	                		,["@employment.getPlace() - @employment.getTitle()",new Date(@employment.getFrom().getMillis()),new Date(@employment.getTo().getMillis()),"@employment.getId()"]
	                		} else {
	                			,["@employment.getPlace() - @employment.getTitle()",new Date(@employment.getFrom().getMillis()),new Date(),"@employment.getId()"]	
	                		}
	                	}
	                	];
	
	var profileContainer = document.getElementById("profileContainer");
	profileContainer.style.height = (profileContainer.clientHeight) +"px";
	
	var timeline = new Timeline(document.getElementById("timeline"),2008)
	for(index in eduEntryData) {
		if(index == 0) {
			continue;
		}
		var entryData = eduEntryData[index];
		var timelineEntry = new TimelineEntry(entryData[0],entryData[1],entryData[2],'bfe5bf');
		timeline.addTimelineEntry(timelineEntry);
		timelineEntry.addHTMLElementToTriggerHover(document.getElementById(entryData[3]));
	}
	
	for(index in emplEntryData) {
		if(index == 0) {
			continue;
		}
		var entryData = emplEntryData[index];
		var timelineEntry = new TimelineEntry(entryData[0],entryData[1],entryData[2],'fad8c7');
		timeline.addTimelineEntry(timelineEntry);
		timelineEntry.addHTMLElementToTriggerHover(document.getElementById(entryData[3]));
	}
</script> 

}
}