@(projects: List[services.database.Project]) 

@import controllers.Application 

@defining(Application.getSessionLang()) { langKey => 

@layout("menu_projects") {

@for(project <- projects) {
	<div class="project">
    	<a id="@project.getId()"></a>
            <div id="title">
                <h2> @project.getTitleAsHtml() </h2>
                
                @if(project.getDevelopmentEnd() != null) {
                    @Application.messages("develope_finished") @project.getDevelopmentEnd().toString("MMM yyyy",Application.getCurrentLocale())
                } else {
                    @Application.messages("develope_ongoing")
                }
                
            </div>
            @if(controllers.UsersController.isLoggedIn()) {
	            <div id="buttons"> 
	                    <a href="@routes.ProjectsController.renderEdit(langKey,project.getId())">Edit</a>
	                    &nbsp; 
	                    <a href="/en/Project/id/delete">
	                        Delete
	                    </a>
	            </div>
            }

            <div id="image">
                <img src="@routes.ProjectsController.getImage(project.getId())"/>
            </div>
            <div id="description">
         		@project.getDescriptionAsHtml() 
            </div>


        @* @if(project.getFile() != "") {

                <div id="download">
                    <img src="@routes.Assets.at("images/site/download.png")" /><a href=" @project.getDownloadLink() "> @Application.messages("projects_download") </a>
                </div>
		} *@
            <div id="tech">
                
                                     
                    <p>
                    @for(tech <- project.getTechnologies()) {
                        <img src="@routes.Assets.at("images/site/check.png")"/> @tech
                    } 
                    </p>
          		
            </div>
        </div>
}

} }
